@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent</title>
    <link rel="stylesheet" type="text/css" href="~/css/cars.css" />
</head>
<body>
    <div class="main">
        <div class="car-list">
            <div class="car-list__item">
                <img src="~/img/civic.png" class="car-img" />
                <div class="car-short-info">
                    <div class="cost">
                        <h2 class="car-name">Toyota</h2>
                        <p>Стоимость: 1000руб./ч</p>
                    </div>
                    <div class="rent-car-button">
                        <a href="@Url.Action("Index", "home")" class="rent-button">Арендовать</a>
                    </div>
                </div>
            </div>
            <div class="car-list__item">
                <img src="~/img/corolla.png" class="car-img" />
                <div class="car-short-info">
                    <div class="cost">
                        <h2 class="car-name">Toyota</h2>
                        <p>Стоимость: 1000руб./ч</p>
                    </div>
                    <div class="rent-car-button">
                        <a href="@Url.Action("Index", "home")" class="rent-button">Арендовать</a>
                    </div>
                </div>
            </div>
            <div class="car-list__item">
                <img src="~/img/sonata.webp" class="car-img" />
                <div class="car-short-info">
                    <div class="cost">
                        <h2 class="car-name">Toyota</h2>
                        <p>Стоимость: 1000руб./ч</p>
                    </div>
                    <div class="rent-car-button">
                        <a href="@Url.Action("Index", "home")" class="rent-button">Арендовать</a>
                    </div>
                </div>
            </div>
            <div class="car-list__item">
                <img src="~/img/sonata.webp" class="car-img" />
                <div class="car-short-info">
                    <div class="cost">
                        <h2 class="car-name">Toyota</h2>
                        <p>Стоимость: 1000руб./ч</p>
                    </div>
                    <div class="rent-car-button">
                        <a href="@Url.Action("Index", "home")" class="rent-button">Арендовать</a>
                    </div>
                </div>
            </div>
            <div class="car-list__item">
                <img src="~/img/sonata.webp" class="car-img" />
                <div class="car-short-info">
                    <div class="cost">
                        <h2 class="car-name">Toyota</h2>
                        <p>Стоимость: 1000руб./ч</p>
                    </div>
                    <div class="rent-car-button">
                        <a href="@Url.Action("Index", "home")" class="rent-button">Арендовать</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>